<div>
    <uib-tabset>
        <uib-tab ng-repeat="t in tabs"
             heading="{{t.heading}}"
             select="go(t.route)"
             active="t.active">
        </uib-tab>
    </uib-tabset>
    <br>
    <!-- HEADER -->
    <div class="jumbotron text-center">
        <h2>Guideline: <span class="label label-info">{{checked}}</span></h2>
    </div>

    <div ui-view></div>

    <div>
        <div class="text-center">
            <button type="button" class="btn btn-success" ng-click="insertGuide()">Update guideline</button>
        </div>
        <br>
        <pre>{{ guide.definition.archetypeBindings | json }}</pre>
    </div>
</div>