<div>
    <!-- Nested node template -->
    <div class="row">
        <div class="col-sm-12">
            <h3>Definitions</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div ui-tree="treeOptions">
                <ol ui-tree-nodes="" ng-model="guide.definition.archetypeBindings">
                    <li ng-repeat="node in guide.definition.archetypeBindings" ui-tree-node
                        ng-include="'views/templates/nodes-renderer.html'"></li>
                </ol>
            </div>
        </div>
    </div>

</div>