<div ng-controller="EditableRowCtrl">
    <br>
    <!-- HEADER -->
    <div class="jumbotron text-center">
        <h2>Editable grid - Elements: <span class="label label-info"> {{terms.length}} </span></h2>
    </div>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <tr style="font-weight: bold">
            <td style="width:15%">Code</td>
            <td style="width:40%">Description</td>
            <td style="width:20%">Status</td>
            <td style="width:25%">Edit</td>
        </tr>
        <tr ng-repeat="term in terms">
            <td>
                <!-- editable term (text with validation) -->
                <span editable-text="term.code" e-name="code" e-form="rowform" onbeforesave="checkName($data, term.id)" e-required>{{ term.code || 'empty' }}</span>
            </td>
            <td>
                <!-- editable description (select-local) -->
                <span editable-select="term.description" e-name="description" e-form="rowform" e-ng-options="s.value as s.text for s in descriptions">{{ showDescription(term) }}</span>
            </td>
            <td>
                <!-- editable status (select-remote) -->
                <span editable-select="term.status" e-name="status" onshow="loadStatuses()" e-form="rowform" e-ng-options="g.id as g.text for g in statuses">{{ showStatus(term) }}</span>
            </td>
            <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="saveUser($data, term.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == term">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">save</button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">cancel</button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                    <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
                </div>
            </td>
        </tr>
    </table>

    <button class="btn btn-default" ng-click="addUser()">Add local term</button>
</div>