<!-- Nested node template -->
<div ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" ng-if="archetypeBinding.elements" data-nodrag ng-click="toggle(this)">
        <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
    </a>
    Instantiate archetype <sup>{{archetypeBinding.domain}}</sup> <a ng-click="vm.updateArchetypesModal($index)" data-nodrag ng-bind="archetypeBinding.archetypeId"></a>
    <a class="pull-right btn btn-xs" data-nodrag ng-click="vm.removeArchetype(this)"><img ng-src="{{vm.delete}}"></a>
    <a class="pull-right btn btn-xs" data-nodrag ng-click="vm.createElement(this.$modelValue)"><img ng-src="{{vm.add}}"></a>
</div>

<!-- elements -->
<ol ng-class="{hidden: collapsed}" ui-tree-nodes ng-model="archetypeBinding.elements">
    <li ng-repeat="element in archetypeBinding.elements track by $index" ui-tree-node>

        <div ng-switch="element.type">

            <div ui-tree-handle class="tree-node tree-node-content element-background" ng-switch-when="element">
                Instantiate element <a ng-click="vm.updateElementsModal(archetypeBinding, element, $index)" data-nodrag ng-bind="(element.name | formatElementText)"></a>
                <a class="pull-right btn btn-xs" data-nodrag ng-click="vm.removeElement(this)"><img ng-src="{{vm.delete}}"></a>
            </div>

            <div ui-tree-handle class="tree-node tree-node-content element-background gdl-element-with-select" ng-switch-when="UnaryExpression">
                <form role="form" class="form-inline">
                    With element <a ng-click="vm.updatePredicateFunctionModal(archetypeBinding, element, $index)" data-nodrag ng-bind="(element.expressionItem.operand.expressionItem.name | formatElementText)"></a>
                    <div class="form-group">
                        <select class="form-control" ng-model="element.expressionItem.operator">
                            <option ng-repeat="option in vm.predicateFunctionOptions" value="{{ option }}" ng-bind="option"></option>
                        </select>
                    </div>
                    <a class="pull-right btn btn-xs gdl-padding" data-nodrag ng-click="vm.removeElement(this)"><img ng-src="{{vm.delete}}"></a>
                </form>
            </div>


            <!-- BinaryExpression -->
            <div ui-tree-handle class="tree-node tree-node-content element-background" ng-switch-when="BinaryExpression">
                <form role="form"  class="form-inline">

                    <!-- left item -->
                    With element <a ng-click="vm.updateLeftItem(archetypeBinding, element, $index)" data-nodrag ng-bind="(element.expressionItem.left.expressionItem.name | formatElementText)"></a>

                    <!-- operator -->
                    <div class="form-group">
                        <select class="form-control" ng-model="element.expressionItem.operator">
                            <option ng-repeat="option in vm.predicateDataValueOptions" value="{{ option }}" ng-bind="option"></option>
                        </select>
                    </div>

                    <!-- right -->
                    <a ng-click="vm.updateRightItem(archetypeBinding, element, $index)"> {{element.expressionItem.right.expressionItem.codedText.value}} </a>

                    <a class="pull-right btn btn-xs gdl-padding" data-nodrag ng-click="vm.removeElement(this)"><img ng-src="{{vm.delete}}"></a>
                </form>
            </div>

        </div>
    </li>
</ol>