<!-- Modal -->
<!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>The element you are trying to delete is being used. These references must be deleted before proceeding.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->


<div class="ngdialog-content modal-sm">
    <div class="modal-header">
        <h4 class="modal-title">Warning</h4>
    </div>
    <div class="modal-body">
        <p>The element you are trying to delete is being used. These references must be deleted before proceeding.</p>
    </div>
</div>

<div class="ngdialog-buttons" ng-controller="DefinitionsCtrl">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clickToClose()">Close</button>
</div>