body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* UI Bootstrap css */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Editables */
a.editable-click {
    color: green;
    border-bottom: dotted 2px green;
}
a.editable-click:hover {
    color: #47a447;
    border-bottom-color: #47a447;
}

.inline {
    display: flex;
}

.navbar-brand {
    padding: 0px;
}