body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* UI Bootstrap css */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* ng-grid css */

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px
}