body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* UI Bootstrap css */

/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/

.inline {
    display: flex;
}

.navbar-brand {
    padding: 0px;
}

/* So that the guideline panel shows a scroll bar when needed*/
#guideline-panel {
    overflow-x:auto;
}

/* Page header styles */
.page-header h1 {
    display: inline;
}

.page-header label {
    float: right;
    line-height: 60px;
    padding: 0;
}

sup {
    color: #00B7FF;
}

/* 'Terminology' tab: to center align text in the table */
.table tbody tr td {
    vertical-align: middle;
}

/*
 * Styles for Definitions tab
 */

/* Red background in Element instantiation div */

.element-background {
    background: #FDF5F5 !important;
}

