
<br>
<div class="well">
  <span><label>Rule name:</label> {{vm.terms[vm.rule.id].text}}</span>
  <a href="#" class="btn btn-info pull-right" ng-click="vm.back()">
    <span class="glyphicon glyphicon-chevron-left"></span> Back to guide
  </a>
</div>


<!-- Conditions -->
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Conditions</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- Left panel -->
      <div class="col-sm-9">
        <div ui-tree data-drag-delay="300">
          <ol ui-tree-nodes ng-model="vm.rule.whenStatements">
            <li ng-repeat="whenStatement in vm.rule.whenStatements" ui-tree-node>
              <div ui-tree-handle class="tree-node tree-node-content">
                <form role="form"  class="form-inline">
                  <a class="btn btn-success btn-xs"><span class="glyphicon glyphicon-list"></span></a>
                  Element <sup>EHR</sup> <a ng-style="whenStatement.expressionItem.left.unselected && {color:'red'}" ng-click="vm.updateConditionLeft(this)" data-nodrag>{{vm.terms[whenStatement.expressionItem.left.expressionItem.code].text | parseLocal}}<sub ng-show="whenStatement.expressionItem.left.expressionItem.attribute && whenStatement.expressionItem.left.expressionItem.attribute !== 'null_flavor'">{{whenStatement.expressionItem.left.expressionItem.attribute}}</sub></a>
                  <select class="form-control" ng-model="whenStatement.expressionItem.operator" data-nodrag>
                    <option ng-repeat="option in vm.getOptions(this.$modelValue)" value="{{ option.value }}" ng-bind="option.label"></option>
                  </select>
                  <a ng-show="whenStatement.expressionItem.right.expressionItem.value !== 'null'" ng-style="whenStatement.expressionItem.right.unselected && {color:'red'}" ng-click="vm.updateConditionRight(this)"> {{vm.showRightName(this) | parseLocal}} </a>
                  <a class="pull-right btn btn-xs" data-nodrag ng-click="vm.removeCondition(this)"><img ng-src="{{vm.delete}}"></a>
                </form>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <!-- Right panel -->
      <div class="col-sm-3">
        <div ui-tree="vm.treeConditions" class="panel panel-default" data-clone-enabled="true" data-nodrop-enabled="true">
          <div class="panel-heading">
            <h2 class="panel-title">Conditions</h2>
          </div>
          <div class="panel-body">
            <ol ui-tree-nodes ng-model="vm.cloneConditions">
              <li ng-repeat="condition in vm.cloneConditions" class="right-list" ui-tree-node data-nodrag="{{!condition.draggable}}">
                <div ui-tree-handle>{{condition.title}}</div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Actions -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Actions</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- Left panel -->
      <div class="col-sm-9">
        <div ui-tree data-drag-delay="300">
          <ol ui-tree-nodes ng-model="vm.rule.thenStatements">
            <li ng-repeat="thenStatement in vm.rule.thenStatements" ui-tree-node>
              <div ui-tree-handle class="tree-node tree-node-content">
                <form role="form"  class="form-inline">
                  <a class="btn btn-success btn-xs"><span class="glyphicon glyphicon-list"></span></a>
                  Set element <sup>EHR</sup> <a ng-style="thenStatement.variable.unselected && {color:'red'}" ng-click="vm.updateActionLeft(this)" data-nodrag>{{vm.terms[thenStatement.variable.code].text | parseLocal}}<sub ng-show="thenStatement.variable.attribute && thenStatement.variable.attribute !== 'null_flavor'">{{thenStatement.variable.attribute}}</sub></a>
                  to
                  <a ng-style="thenStatement.assignment.unselected && {color:'red'}" ng-click="vm.updateActionRight(this)"> {{vm.getActionName(this) | parseLocal}} </a>
                  <a class="pull-right btn btn-xs" data-nodrag ng-click="vm.removeCondition(this)"><img ng-src="{{vm.delete}}"></a>
                </form>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <!-- Right panel -->
      <div class="col-sm-3">
        <div ui-tree="vm.treeActions" class="panel panel-default" data-clone-enabled="true" data-nodrop-enabled="true">
          <div class="panel-heading">
            <h2 class="panel-title">Actions</h2>
          </div>
          <div class="panel-body">
            <ol ui-tree-nodes ng-model="vm.cloneActions">
              <li ng-repeat="action in vm.cloneActions" class="right-list" ui-tree-node data-nodrag="{{!action.draggable}}">
                <div ui-tree-handle>{{action.title}}</div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<pre>{{vm.rule | json}}</pre> -->
<!--<pre>{{vm.rule.whenStatements | json}}</pre>-->
<!--<pre>{{vm.rule.thenStatements | json}}</pre>-->