<div>
  <br>
  <div class="gdl-center gdl-padding-top-bottom">
    <button class="btn btn-info" ng-click="vm.back()">Back to guide</button>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Conditions</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-9">
          <div ui-tree="vm.treeOptions" data-drag-delay="300">
            <ol ui-tree-nodes ng-model="vm.rule.whenStatements">
              <li ng-repeat="whenStatement in vm.rule.whenStatements" ui-tree-node>
                <div ui-tree-handle class="tree-node tree-node-content">
                  <form role="form"  class="form-inline">
                    <a class="btn btn-success btn-xs"><span class="glyphicon glyphicon-list"></span></a>
                    Element <sup>EHR</sup> <a ng-click="vm.updateLeftItem(this)" data-nodrag>{{vm.terms[whenStatement.expressionItem.left.expressionItem.code].text}}<sub>{{vm.getAttribute(this.$modelValue)}}</sub></a>
                    <select class="form-control" ng-model="whenStatement.expressionItem.operator" data-nodrag>
                      <option ng-repeat="option in vm.getOptions(this.$modelValue)" value="{{ option.value }}" ng-bind="option.label"></option>
                    </select>
                    <a ng-show="whenStatement.expressionItem.right.expressionItem.value !== 'null'" ng-click="vm.updateRightItem(this)"> {{vm.showRightName(this) | parseLocal}} </a>
                    <a class="pull-right btn btn-xs" data-nodrag ng-click="vm.removeArchetype(this)"><img ng-src="{{vm.delete}}"></a>
                    <a class="pull-right btn btn-xs" data-nodrag ng-click="vm.updateLeftItem(this)"><img ng-src="{{vm.add}}"></a>
                  </form>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Actions</h3>
      </div>
      <div class="panel-body">
        Actions here
      </div>
    </div>
  </div>
</div>
<pre>{{vm.rule | json}}</pre>