<div class="row">
  <div class="col-sm-12 gdl-center">
    <a href="#" class="btn btn-info" ng-click="vm.addRule()">
      <span class="glyphicon glyphicon-plus"></span> Add rule
    </a>
  </div>
</div>

<div class="row">
  <div ui-tree="vm.treeRulelist">
    <ol ui-tree-nodes="" ng-model="vm.rules">
      <li ng-repeat="rule in vm.rules | orderBy:'priority':true" ui-tree-node>
        <div ui-tree-handle class="tree-node tree-node-content">
          <a class="btn btn-success btn-xs"><span class="glyphicon glyphicon-resize-vertical"></span></a>
          <a ng-click="vm.openRuleEditor(this)" data-nodrag>{{ vm.guide.ontology.termDefinitions.en.terms[rule.id].text }}</a>
          <a class="pull-right btn btn-xs" data-nodrag ng-click="vm.remove(this)"> <img ng-src="{{vm.delete}}"></a>
          <!-- <a class="pull-right btn btn-xs" data-nodrag ng-click=""><img ng-src="{{vm.accept}}"></a> -->
          <a class="pull-right btn btn-xs" data-nodrag ng-click="vm.editName(this)"><img ng-src="{{vm.pencil}}"></a>
        </div>
      </li>
    </ol>
  </div>
</div>
<!--<pre>{{ vm.rules | json}}</pre>-->
