<!-- Nested node template -->
<div ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
        <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
    </a>
    Instantiate archetype: <sup>{{node.domain}}</sup> <a href="#" ng-click="openArchetypes()">{{node.archetypeId}}</a>
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">                                                                <!-- red button -->
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">                                <!-- "plus" button" -->
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>

<ol ng-class="{hidden: collapsed}" ui-tree-nodes ng-model="node.elements">
    <li ng-repeat="element in node.elements" ui-tree-node>
        <div ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
                <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
            </a>
            Instantiate element: <a href="#"> {{element.id}}</a>
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">                                                        <!-- red button -->
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">                        <!-- "plus" button" -->
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </li>
</ol>