<!-- Nested node template -->
<div ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" ng-if="archetypeBinding.elements" data-nodrag ng-click="toggle(this)">
        <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
    </a>
    Instantiate archetype: <sup>{{archetypeBinding.domain}}</sup> <a ng-click="clickToOpen(archetypeBinding.archetypeId)" data-nodrag>{{archetypeBinding.archetypeId}}</a>
    <a class="pull-right btn btn-xs" data-nodrag ng-click="removeArchetype(this)"><img ng-src="{{delete}}"></a>
    <a class="pull-right btn btn-xs" data-nodrag ng-click="newElement(this)"><img ng-src="{{add}}"></a>
</div>

<ol ng-class="{hidden: collapsed}" ui-tree-nodes="" ng-model="archetypeBinding.elements">
    <li ng-repeat="element in archetypeBinding.elements" ui-tree-node>
        <div ui-tree-handle class="tree-node tree-node-content element-background">
            Instantiate element: <a ng-click="openElements(archetypeBinding, element, $index)" data-nodrag> {{element.name | formatElementText}}</a>
            <a class="pull-right btn btn-xs" data-nodrag ng-click="removeElement(this)"><img ng-src="{{delete}}"></a>
        </div>
    </li>
</ol>