<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">PreConditions</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- Left panel -->
      <div class="col-sm-9">
        <div ui-tree data-drag-delay="300">
          <ol ui-tree-nodes ng-model="vm.preConditions">
            <li ng-repeat="preCondition in vm.preConditions" ui-tree-node>
              <div ui-tree-handle class="tree-node tree-node-content">
                <form role="form"  class="form-inline">
                  <a class="btn btn-success btn-xs"><span class="glyphicon glyphicon-list"></span></a>
                  Element <sup>EHR</sup> <a ng-style="preCondition.expressionItem.left.unselected && {color:'red'}" ng-click="vm.updateConditionLeft(this)" data-nodrag>{{vm.terms[preCondition.expressionItem.left.expressionItem.code].text | parseLocal}}<sub ng-show="preCondition.expressionItem.left.expressionItem.attribute && preCondition.expressionItem.left.expressionItem.attribute !== 'null_flavor'">{{preCondition.expressionItem.left.expressionItem.attribute}}</sub></a>
                  <select class="form-control" ng-model="preCondition.expressionItem.operator" data-nodrag>
                    <option ng-repeat="option in vm.getOptions(this.$modelValue)" value="{{ option.value }}" ng-bind="option.label"></option>
                  </select>
                  <a ng-show="preCondition.expressionItem.right.expressionItem.value !== 'null'" ng-style="preCondition.expressionItem.right.unselected && {color:'red'}" ng-click="vm.updateConditionRight(this)"> {{vm.showRightName(this) | parseLocal}} </a>
                  <a class="pull-right btn btn-xs" data-nodrag ng-click="vm.removeCondition(this)"><img ng-src="{{vm.delete}}"></a>
                </form>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <!-- Right panel -->
      <div class="col-sm-3">
        <div ui-tree="vm.treePreConditions" class="panel panel-default" data-clone-enabled="true" data-nodrop-enabled="true">
          <div class="panel-heading">
            <h2 class="panel-title">PreConditions</h2>
          </div>
          <div class="panel-body">
            <ol ui-tree-nodes ng-model="vm.clonePreConditions">
              <li ng-repeat="preCondition in vm.clonePreConditions" class="right-list" ui-tree-node data-nodrag="{{!preCondition.draggable}}">
                <div ui-tree-handle>{{preCondition.title}}</div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
