<div class="row">
  <h3>Definitions</h3>
</div>

<div class="row">
  <div class="col-sm-9">
     <div ui-tree="vm.treeOptions" data-drag-delay="300">
        <ol ui-tree-nodes ng-model="vm.guide.definition.archetypeBindings">
           <li ng-repeat="archetypeBinding in vm.guide.definition.archetypeBindings" ui-tree-node>

              <div ui-tree-handle class="tree-node tree-node-content">
                 <a class="btn btn-success btn-xs" ng-if="archetypeBinding.elements" data-nodrag ng-click="toggle(this)">
                    <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
                 </a>
                 Instantiate archetype <sup>{{archetypeBinding.domain}}</sup> <a ng-style="archetypeBinding.archetypeId === 'Select an archetype' && {color:'red'}" ng-click="vm.updateArchetype(this)" data-nodrag ng-bind="archetypeBinding.archetypeId"></a>
                 <a class="pull-right btn btn-xs" data-nodrag ng-click="vm.removeArchetype(this)"><img ng-src="{{vm.delete}}"></a>
                 <a class="pull-right btn btn-xs" data-nodrag ng-click="vm.updateLeftItem(this)"><img ng-src="{{vm.add}}"></a>
              </div>

              <!-- elements -->
              <ol ng-class="{hidden: collapsed}" ui-tree-nodes ng-model="archetypeBinding.elements">
                 <li ng-repeat="element in archetypeBinding.elements" ui-tree-node>
                    <div ui-tree-handle class="tree-node tree-node-content element-background" >
                       <form role="form"  class="form-inline">
                          <!-- left item -->
                          {{vm.getTextDebug(this)}} - {{vm.getText(this)}} <a ng-style="element.unselected && {color:'red'}" ng-click="vm.updateLeftItem(this)" data-nodrag> {{vm.showLeftName(this) | removeUnderscore}}<sub>{{vm.getAttribute(this.$modelValue)}}</sub></a>
                          <!-- operator -->
                          <div class="form-group" ng-show="vm.showOptions(this)">
                             <select class="form-control" ng-model="element.expressionItem.operator" data-nodrag>
                                <option ng-repeat="option in vm.getPredicateOptions(this.$modelValue)" value="{{ option.value }}" ng-bind="option.label"></option>
                             </select>
                          </div>
                          <!-- right -->
                          <a ng-show="vm.showRightName(this)" ng-style="element.expressionItem.right.expressionItem.value === 'Select DataValue' && {color:'red'}"  ng-click="vm.updateRightItem(this)"> {{vm.showRightName(this) | parseLocal}} </a>
                          <a class="pull-right btn btn-xs gdl-padding" data-nodrag ng-click="vm.removeElement(this)"><img ng-src="{{vm.delete}}"></a>
                       </form>
                    </div>
                 </li>
              </ol>
           </li>
        </ol>
     </div>
  </div>
  <div class="col-sm-3">
     <div ui-tree="vm.treeDefinitions" class="panel panel-default" data-clone-enabled="true" data-nodrop-enabled="true">
        <div class="panel-heading">
          <h2 class="panel-title">Definitions</h2>
        </div>
        <div class="panel-body">
           <ol ui-tree-nodes ng-model="vm.definitions">
              <li ng-repeat="item in vm.definitions" class="right-list" ui-tree-node data-nodrag="{{!item.draggable}}">
                 <div ui-tree-handle>{{item.title}}</div>
              </li>
           </ol>
        </div>
     </div>
  </div>
</div>
<pre>{{ vm.guide | json }}</pre>
