<div>
    <!-- Anoher option: https://editor.datatables.net/examples/styling/bootstrap.html -->
    <table class="table table-bordered table-hover table-condensed table-striped">
        <tr style="font-weight: bold">
            <td style="width:10%">Code</td>
            <td style="width:30%">Text</td>
            <td style="width:45%">Description</td>
            <td style="width:15%">Edit</td>
        </tr>
        <tr ng-repeat="term in vm.guide.ontology.termDefinitions['en'].terms">
            <td>
                <!-- editable id -->
                <span>{{ term.id || 'empty' }}</span>
            </td>
            <td>
                <!-- editable text -->
                <span editable-text="term.text" e-name="text" e-form="rowform" e-required>{{ term.text || 'empty' }}</span>
            </td>
            <td>
                <!-- editable description -->
                <span editable-text="term.description" e-name="description" e-form="rowform" e-required>{{ term.description|| 'empty' }}</span>
            </td>
            <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="vm.saveTerm($data, term.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == term">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">save</button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">cancel</button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                    <button class="btn btn-danger" ng-click="vm.removeTerm(this.term.id)">del</button>
                </div>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary" ng-click="vm.addTerm()">Add local term</button>
</div>