<div ng-show="vm.termDefinitions['en'].terms">

    <uib-tabset active="vm.active">
        <uib-tab ng-repeat="language in vm.termDefinitions"
                 heading="{{vm.getLanguageName(language.id)}}"
                 select="vm.changeLanguage(language)">
        </uib-tab>
    </uib-tabset>
    <br>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <tr style="font-weight: bold">
            <td style="width:10%">Code</td>
            <td style="width:30%">Text</td>
            <td style="width:45%">Description</td>
            <td style="width:15%">Edit</td>
        </tr>
        <tr ng-repeat="term in vm.termDefinitions[vm.termDefinition.id].terms">
            <td>
                <!-- editable id -->
                <span>{{ term.id || 'empty' }}</span>
            </td>
            <td>
                <!-- editable text -->
                <span editable-text="term.text" e-name="text" e-form="rowform" e-required>{{ term.text || 'empty' }}</span>
            </td>
            <td>
                <!-- editable description -->
                <span editable-text="term.description" e-name="description" e-form="rowform" e-required>{{ term.description|| 'empty' }}</span>
            </td>
            <td>
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="vm.saveTerm($data, term.id)"
                      ng-show="rowform.$visible" class="form-buttons form-inline gdl-terminology-icons" shown="inserted == term">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">save</button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">cancel</button>
                </form>
                <div class="buttons gdl-terminology-icons" ng-show="!rowform.$visible">
                    <a class="pull-right btn btn-xs" ng-click="rowform.$show()"><img ng-src="{{vm.pencil}}"></a>
                    <a class="pull-right btn btn-xs" ng-click="vm.removeTerm(this.term.id)"><img ng-src="{{vm.delete}}"></a>
                </div>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary" ng-click="vm.newLanguage()">New language</button>
    <button class="btn btn-primary" ng-click="vm.newTerm()">Add local term</button>
    <button class="btn btn-primary" ng-click="vm.addTerm()">New term</button>
</div>
