<modal-header resolve="$ctrl"></modal-header>

<div class="modal-body">

  <div class="row">
    <div class="col-sm-6">
      <form class="form-inline">
        <div class="form-group gdl-padding">
          <input type="text" ng-model="predicate" placeholder="Filter" class="form-control">
          <img ng-src="{{$ctrl.image.expand.url}}" uib-tooltip="{{$ctrl.image.expand.text}}" ng-click="$ctrl.expand()">
          <img ng-src="{{$ctrl.image.contract.url}}" uib-tooltip="{{$ctrl.image.contract.text}}" ng-click="$ctrl.contract()">
        </div>
      </form>
    </div>
    <div class="col-sm-6">
      <form role="form" ng-show="$ctrl.domains" class="form-inline gdl-center gdl-padding">
        <div class="form-group">
          <label for="domain">Domain</label>
          <select class="form-control" id="domain" ng-model="$ctrl.domain" ng-init="$ctrl.domain = $ctrl.domains[0].name">
            <option ng-repeat="item in $ctrl.domains" value="{{ item.value }}" >{{ item.name }}</option>
          </select>
        </div>
      </form>
    </div>
  </div>

  <treecontrol class="tree-boot"
    tree-model="$ctrl.items"
    options="treeOptions"
    expanded-nodes="expandedNodes"
    on-selection="showSelected(node, $parentNode)"
    filter-expression="predicate"
    filter-comparator="comparator"
    order-by="node.viewText">
        <span ng-switch on="node.dataType">
          <!-- Data values -->
          <span ng-switch-when="DV_CODED_TEXT"  class="glyphicon-coded-text" aria-hidden="true"></span>
          <span ng-switch-when="DV_TEXT"        class="glyphicon-text" aria-hidden="true"></span>
          <span ng-switch-when="DV_QUANTITY"    class="glyphicon-quantity" aria-hidden="true"></span>
          <span ng-switch-when="DV_DATE_TIME"   class="glyphicon-datetime" aria-hidden="true"></span>
          <span ng-switch-when="DV_DURATION"    class="glyphicon-duration" aria-hidden="true"></span>
          <span ng-switch-when="DV_BOOLEAN"     class="glyphicon-boolean" aria-hidden="true"></span>
          <span ng-switch-when="DV_ORDINAL"     class="glyphicon-ordinal" aria-hidden="true"></span>
          <span ng-switch-when="DV_COUNT"       class="glyphicon-count" aria-hidden="true"></span>
          <!-- Archetypes -->
          <span ng-switch-when="ACTION"         class="glyphicon-action" aria-hidden="true"></span>
          <span ng-switch-when="OBSERVATION"    class="glyphicon-observation" aria-hidden="true"></span>
          <span ng-switch-when="EVALUATION"     class="glyphicon-evaluation" aria-hidden="true"></span>
          <span ng-switch-when="INSTRUCTION"    class="glyphicon-instruction" aria-hidden="true"></span>
          <!-- Folder -->
          <span ng-switch-when="FOLDER"         class="glyphicon-folder" aria-hidden="true"></span>
          <!-- Leaf node -->
          <span ng-switch-when="undefined"      class="glyphicon-leaf" aria-hidden="true"></span>
        </span> {{node.viewText | removeUnderscore}}
  </treecontrol>

</div>

<!--<modal-tree resolve="$ctrl"></modal-tree>-->

<div class="modal-footer">
  <button class="btn btn-default" data-ng-click="$ctrl.cancel()">{{$ctrl.labels.closeButtonText}}</button>
  <button class="btn btn-primary" data-ng-click="$ctrl.ok()">{{$ctrl.labels.actionButtonText}}</button>
</div>
