<div class="modal-header gdl-center">
  <h3>{{$ctrl.labels.headerText}}</h3>
</div>
<div class="modal-body">
  <p>{{$ctrl.labels.bodyText}}</p>

  <form role="form" ng-show="$ctrl.domains" class="form-inline gdl-center">
    <div class="form-group">
      <label for="domain">Domain</label>
      <select class="form-control" id="domain" ng-model="$ctrl.domain" ng-init="$ctrl.domain = $ctrl.domains[0].name">
        <option ng-repeat="item in $ctrl.domains" value="{{ item.value }}" >{{ item.name }}</option>
      </select>
    </div>
  </form>

  <treecontrol class="tree-classic"
    tree-model="$ctrl.items"
    options="treeOptions"
    on-selection="showSelected(node)"
    filter-expression="predicate"
    filter-comparator="comparator"
    order-by="node.name">
    {{node.name}}
  </treecontrol>

  <form class="form-inline">
    <label for="rg-from">Filter: </label>
    <div class="form-group">
      <input type="text" ng-model="predicate" class="form-control">
    </div>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" data-ng-click="$ctrl.cancel()">{{$ctrl.labels.closeButtonText}}</button>
  <button class="btn btn-primary" data-ng-click="$ctrl.ok();">{{$ctrl.labels.actionButtonText}}</button>
</div>